/* #container-1{
    position: sticky;
    top: 0;
} */


#sitename{
    color: #750550;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 1rem;

}



.mybuttons{
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

#startcam{
    margin-left: 4rem;
}

.carousel .carousel-inner {
    height: 35rem;
    /* padding: 0 auto; */
    /* margin: 0 auto; */
    margin-left: 12rem;
    /* border-radius: 5rem; */
}

#slider{
    background-color: rgb(210, 226, 231);
    margin: 0;
    padding: 0;
   
}
/* #slider img{
    position: absolute;
} */

#prevbtn{
    color: #750550 !important;
}


#nextbtn{
    color: #750550 !important;
}

#caption4{
    margin-right: 40rem;
}



#generaldiv{
    background-color: rgb(209, 218, 221);
    padding: 5rem;
    ;
}
#gneralsmdiv {
    display: flex;
}



#gneralsmdiv h2{
    margin: 0.1rem auto;
   
}


#gneralsmdiv2 {
    display: flex;
}



#gneralsmdiv2 h2{
    margin: 1rem auto;
    /* justify-content: center; */
}


.info{
    padding: 1rem;
}


.info h1{
    margin: 0.5rem auto;
    color: #750550;
}







#footer{
    padding: 4rem;
    background-color: black;
    color: wheat;
}


#footer h4{
    color: grey;

}

#footer i{
    font-size: 2rem;

}


#footer a{
    text-decoration: none;
    color: #750550;
    font-size: 2rem;
    font-weight: 900;

}





