#logo{
    font-size: 2rem;
    color: #E74C3C ;
    font-weight: bold;
}
a{
    color: #E74C3C ;
    font-weight: bold  
}
#imghead{
    width: 100%;
}
.carousel .item {
    height: 300px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }

  body {
    background: #f8f9fa;
    
  }
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }